@inherits QuestionsCreatorComponentBase

@if (Questions != null && CurrentQuestion != null)
{
    <div class="container-questions">
        <h3>Question @(Questions.IndexOf(CurrentQuestion) + 1) of @QuestionCount</h3>
        <QuestionCreator CreateQuestion="@CurrentQuestion" OnSubmit="@(x => NextQuestion())"></QuestionCreator>
    </div>
}
