@inherits QuestionCreatorComponentBase

<MatCard class="demo-mat-card" style="margin-bottom: 25px">
    <MatCardContent>
        <MatBody1 class="demo-mat-card-content demo-mat-card-clean-margin">
            Create @CreateQuestion.Title
        </MatBody1>
        <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
            <p>
                <MatTextField @bind-Value="@CreateQuestion.Content" Label="Write question here" FullWidth="true" TextArea="true"></MatTextField>
            </p>
        </MatBody2>
    </MatCardContent>
</MatCard>