@inherits QuestionCreatorComponentBase

<div id="question">
    <MatTextField @bind-Value="@CreateQuestion.Content" Label="Write question here" FullWidth="true" TextArea="true"></MatTextField>
</div>

<MatButton OnClick="@(x => Submit())">Submit</MatButton>