@page "/session/Create"
@using WhatIf.Shared.Services.Session
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
@inject ISessionService SessionService

<h1>Create new session</h1>

<div>
    <div class="form-group">
        <label for="inputSessionName">Session name</label>
        <input type="text" class="form-control" id="inputSessionName" bind="@SessionName" aria-describedby="emailHelp" placeholder="Enter session name"/>
    </div>
    <div class="form-group">
        <label for="inputNickname">Nickname</label>
        <input type="text" bind="@Nickname" class="form-control" id="inputNickname" placeholder="Nickname"/>
        <small id="emailHelp" class="form-text text-muted">This is the name everyone else will see</small>
    </div>
    <button type="submit" onclick="@Create" class="btn btn-primary">Create</button>
</div>


@functions {

    [Parameter]
    protected string SessionName { get; set; }

    [Parameter]
    protected string Nickname { get; set; }

    [Parameter]
    protected int SessionId { get; set; }

    async Task Create()
    {
        var session = await SessionService.CreateNew();
        UriHelper.NavigateTo($"/Session/{session.JoinId}");
    }
}
