@page "/session/Create"
@using WhatIf.Shared.Services.Session
@using WhatIf.Shared.Services.User
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
@inject ISessionClient SessionClient
@inject IUserClient UserClient

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="display-4">Ny runde</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="inputSessionName">Navn</label>
                <input type="text" class="form-control" id="inputSessionName" bind="@SessionName" aria-describedby="emailHelp" placeholder="Navn på runden" />
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="inputNickname">Kallenavn</label>
                <input type="text" bind="@Nickname" class="form-control" id="inputNickname" placeholder="Kallenavn"/>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <div class="row align-items-end">
        <div class="col">
            <button class="btn btn-primary" onclick="@Create">Neste</button>
        </div>
    </div>
</div>


@functions {

[Parameter]
protected string SessionName { get; set; }

[Parameter]
protected string Nickname { get; set; }

async Task Create()
{
    var session = await SessionClient.CreateNew(SessionName);
    SessionSettings.User = await UserClient.CreateUser(Nickname, session.Id);
    await SessionClient.SetLeader(session.Id, SessionSettings.User.Id);

    UriHelper.NavigateTo($"/Session/{session.JoinId}");
}
}
