@page "/session/Create"
@using WhatIf.Shared.Services.Session
@using WhatIf.Shared.Services.User
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
@inject ISessionUsecase SessionUsecase
@inject IUserUsecase UserUsecase

<h1>Create new session</h1>

<div>
    <div class="form-group">
        <label for="inputSessionName">Session name</label>
        <input type="text" class="form-control" id="inputSessionName" bind="@SessionName" aria-describedby="emailHelp" placeholder="Enter session name"/>
    </div>
    <div class="form-group">
        <label for="inputNickname">Nickname</label>
        <input type="text" bind="@Nickname" class="form-control" id="inputNickname" placeholder="Nickname"/>
        <small id="emailHelp" class="form-text text-muted">This is the name everyone else will see</small>
    </div>
    <button type="submit" onclick="@Create" class="btn btn-primary">Create</button>
</div>


@functions {

    [Parameter]
    protected string SessionName { get; set; }

    [Parameter]
    protected string Nickname { get; set; }

    async Task Create()
    {
        var user = await UserUsecase.CreateUser(Nickname);
        var session = await SessionUsecase.CreateNew(SessionName);
        UriHelper.NavigateTo($"/Session/{session.JoinId}");
    }
}
