@page "/"
@using Microsoft.AspNetCore.Http.Extensions
@using WhatIf.Shared.Services.Session
@using WhatIf.Shared.Services.User
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
@inject ISessionUsecase SessionUsecase
@inject IUserUsecase UserUsecase

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="display-4">Hva skjer hvis?</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="lead">Ble med i runde</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5"></div>
        <div class="col-sm-2">
            <input bind="@SessionId" class="form-control"/>
        </div>
        <div class="col-sm-1">
            <button class="btn btn-primary" onclick="@JoinSession">Bli med</button>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <div class="row">
        <div class="col">
            <p class="lead" style="margin-top: 50px">Eller start en ny</p>
        </div>
    </div>
    <div class="row align-items-end">
        <div class="col">
            <button class="btn btn-primary" onclick="@CreateSession">Start ny</button>
        </div>
    </div>
</div>

@if (!string.IsNullOrWhiteSpace(User))
{
    <strong>The Id</strong> @User;
}

@functions
{
public string User { get; set; }

public int SessionId { get; set; } = 0;

async Task JoinSession()
{
    //var session = await _sessionService.Get(sessionId);
    var session = await SessionUsecase.Get(SessionId);
    if (session != null)
        UriHelper.NavigateTo($"/Session/Join/{session.JoinId}");
}

void CreateSession()
{
    UriHelper.NavigateTo($"/Session/Create");
}
}