@page "/"
@using Microsoft.AspNetCore.Http.Extensions
@using WhatIf.Shared.Services.Session
@using WhatIf.Shared.Services.User
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
@inject ISessionClient SessionClient
@inject IUserClient UserClient

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="display-4">Hva skjer hvis?</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="lead">Ble med i runde</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5"></div>
        <div class="col-sm-2">
            <input bind="@SessionId" class="form-control"/>
            @if (InvalidSessionId)
            {
                <small>Fant ingen runder med id @SessionId.</small>
            }
        </div>
        <div class="col-sm-1">
            <button class="btn btn-primary" onclick="@JoinSession">Bli med</button>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <div class="row">
        <div class="col">
            <p class="lead" style="margin-top: 50px">Eller start en ny</p>
        </div>
    </div>
    <div class="row align-items-end">
        <div class="col">
            <button class="btn btn-primary" onclick="@CreateSession">Start ny</button>
        </div>
    </div>
</div>

@if (!string.IsNullOrWhiteSpace(User))
{
    <strong>The Id</strong> @User;
}

@functions
{
    public string User { get; set; }

    public int SessionId { get; set; } = 0;

    public bool InvalidSessionId { get; set; }

    async Task JoinSession()
    {
        try
        {
            var session = await SessionClient.Get(SessionId);
            if (session != null)
            {
                InvalidSessionId = false;
                UriHelper.NavigateTo($"/Session/Join/{session.JoinId}");
            }
            else
                InvalidSessionId = true;

        }
        catch (Exception)
        {
            InvalidSessionId = true;
        }
    }

    void CreateSession()
    {
        UriHelper.NavigateTo($"/Session/Create");
    }
}