@page "/"
@using Microsoft.AspNetCore.Http.Extensions
@using WhatIf.Shared.Services.Session
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

<h1>Let's play "What if?"!</h1>

<input type="number" bind="@SessionId"/>
<button onclick="@JoinSession">Join</button>

@functions
{
    public int SessionId { get; set; } = 0;

    void JoinSession()
    {
    //var session = await _sessionService.Get(sessionId);
        var session = new SessionResult
        {
            Id = Guid.NewGuid(),
            Finished = false,
            Started = false,
            JoinId = SessionId
        };
        if (session != null)
            UriHelper.NavigateTo($"/Session/{session.JoinId}");
    }
}