@page "/session/Join/{SessionId:int}"
@using Blazor.Extensions.Storage
@using WhatIf.Shared.Services.Session
@using WhatIf.Shared.Services.User
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
@inject ISessionService SessionService
@inject LocalStorage Storage

<div class="container align-items-sm-center">
    <div class="row justify-content-md-center">
        <h1>Bli med i spillet: @Session.Name</h1>
    </div>
    <div class="row justify-content-md-center">
        <div class="col">
            <div class="form-group">
                <label for="inputNickname">Kallenavn</label>
                <input type="text" bind="@Nickname" class="form-control" id="inputNickname" placeholder="Nickname" />
                <button type="submit" onclick="@Join" class="btn btn-primary">Bli med</button>
            </div>
        </div>
    </div>
</div>


@functions {
    [Parameter]
    protected string Nickname { get; set; }

    [Parameter]
    protected int SessionId { get; set; }

    [Parameter]
    protected SessionResult Session { get; set; }

    async Task Join()
    {
        if (!string.IsNullOrEmpty(Nickname))
        {
            var user = new UserResult
            {
                Id = Guid.NewGuid(),
                Nickname = Nickname,
                SessionId = Session.Id
            };
            await Storage.SetItem("User", user);
            UriHelper.NavigateTo($"/Session/{SessionId}");
        }

    }

    protected override async Task OnInitAsync()
    {
        Session = await SessionService.Get(SessionId);
    }
}
