@page "/session/Join/{SessionId:int}"
@using WhatIf.Shared.Services.Session
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
@inject ISessionService SessionService

<h1>Join Session: @Session.Name</h1>

<div>
    <div class="form-group">
        <label for="inputNickname">Nickname</label>
        <input type="text" bind="@Nickname" class="form-control" id="inputNickname" placeholder="Nickname"/>
        <small class="form-text text-muted">This is the name everyone else will see</small>
    </div>
    <button type="submit" onclick="@Join" class="btn btn-primary">Join</button>
</div>

@functions {
    [Parameter]
    protected string Nickname { get; set; }

    [Parameter]
    protected int SessionId { get; set; }

    [Parameter]
    protected SessionResult Session { get; set; }

    void Join()
    {
        if (!string.IsNullOrEmpty(Nickname))
            UriHelper.NavigateTo($"/Session/{SessionId}");
    }

    protected override async Task OnInitAsync()
    {
        Session = await SessionService.Get(SessionId);
    }
}
