@page "/session/Join/{SessionId:int}"
@using Microsoft.AspNetCore.Http
@using WhatIf.Shared.Services.Session
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
@inject ISessionService SessionService

<div class="container align-items-sm-center">
    <div class="row justify-content-md-center">
        <h1>Bli med i spillet: @Session.Name</h1>
    </div>
    <div class="row justify-content-md-center">
        <div class="col">
            <div class="form-group">
                <label for="inputNickname">Kallenavn</label>
                <input type="text" bind="@Nickname" class="form-control" id="inputNickname" placeholder="Nickname" />
                <button type="submit" onclick="@Join" class="btn btn-primary">Bli med</button>
            </div>
        </div>
    </div>
</div>


@functions {
    [Parameter]
    protected string Nickname { get; set; }

    [Parameter]
    protected int SessionId { get; set; }

    [Parameter]
    protected SessionResult Session { get; set; }

    void Join()
    {
        if (!string.IsNullOrEmpty(Nickname))
        {

            UriHelper.NavigateTo($"/Session/{SessionId}");
        }

    }

    protected override async Task OnInitAsync()
    {
        Session = await SessionService.Get(SessionId);
    }
}
