@page "/session/{SessionId:int}"
@using Newtonsoft.Json
@using WhatIf.Shared.Services.User
<h1>Velkommen @User.Nickname</h1>

<p>Du er med i spillet: @SessionId</p>

@functions {
    [Parameter]
    protected int SessionId { get; set; }

    [Parameter]
    protected UserResult User { get; set; }


    protected override void OnInit()
    {
        User = SessionSettings.User;
    }
}
