@page "/session/{SessionId:int}"
@using Blazor.Extensions.Storage
@using Newtonsoft.Json
@using WhatIf.Shared.Services.User
@inject LocalStorage Storage

<h1>Velkommen @User.Nickname</h1>

<p>Du er med i spillet: @SessionId</p>

<button onclick="@Load">Get user</button>

@functions {
    [Parameter]
    protected int SessionId { get; set; }

    [Parameter]
    protected UserResult User { get; set; }



    protected async Task Load()
    {
        User = await Storage.GetItem<UserResult>("User");
    }
}
