@inherits QuestionAnswersReaderComponentBase


<style>
    .demo-mat-card {
        max-width: 400px;
    }

    .demo-mat-card-content {
        padding: 1rem;
    }

    .demo-mat-card-clean-margin {
        margin: 0px;
    }
</style>

@if (GameHasEnded)
{
    <h1>The round is over</h1>
}
else if (ShowStartupScreen)
{
    @if (Player.IsGameMaster)
    {
        <h1>You are ready to read questions and answers, click start to begin.</h1>
        <MatButton OnClick="@(async x => await Start())">Start</MatButton>
    }
    else
    {
        <h1>Waiting for the round to start.</h1>
    }

}
else if (Current is null)
{
    <h1>Waiting for your turn</h1>
}
else if (IsReadingQuestion)
{
    <QuestionReader Question="@Current.Question"></QuestionReader>
}
else if (IsReadingAnswer)
{
    <AnswerReader Answer="@Current.Answer"></AnswerReader>
    <MatButton OnClick="@(async x => await OnNextQuestion())">Next question</MatButton>
}
else if (PlayerIsFinished)
{
    <h1>You have finished this round.</h1>
}

