@inherits AnswerCreatorComponentBase

@if (CreateAnswer != null)
{
    <div id="question">
        <p>@CreateAnswer.Question.Content</p>
    </div>

    <div id="answer">
        <MatTextField @bind-Value="@CreateAnswer.Content" Label="Write answer here" FullWidth="true" TextArea="true"></MatTextField>
    </div>

    <MatButton OnClick="@(x => Submit())">Submit</MatButton>
}

