@inherits AnswersCreatorComponentBase;


<div class="container-answers">
    <h3>Answer @(Answers.IndexOf(CurrentAnswer) + 1) of @Answers.Count</h3>
    <AnswerCreator CreateAnswer="@CurrentAnswer" OnSubmit="@(x => NextQuestion())"></AnswerCreator>
</div>