app {
  height: 100%;
}

html,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
  background-color: #324454;
}

.container-index {
  height: 100%;
  width: 100%;
  color: #d8dbe2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 30% auto 20%;
      grid-template-rows: 30% auto 20%;
      grid-template-areas: "head" "join" "rejoin" "footer";
}

.container-index #header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: head;
  text-align: center;
  margin: 0 1em;
      justify-self: center;
}

.container-index #rejoin {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: rejoin;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 1fr;
      grid-template-columns: 4fr 1fr;
  background: #a9bcd0;
  text-align: center;
  color: #324454;
  border-radius: 15px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  margin: 20px;
}

.container-index #rejoin h5 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 0;
}

.container-index #rejoin button {
  margin: 0 0 0 5px;
  padding: 0;
  -ms-grid-column: 2;
  grid-column: 2;
}

.container-index #join {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: join;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 72% 18%;
      grid-template-columns: 10% 72% 18%;
  -ms-grid-rows: 30% auto 30%;
      grid-template-rows: 30% auto 30%;
  background: #a9bcd0;
  text-align: center;
  color: #324454;
  border-radius: 15px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  margin: 20px;
}

.container-index #join h3 {
  -ms-grid-row: 1;
  grid-row: 1;
  margin-bottom: 15px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

.container-index #join .mdc-floating-label {
  background-color: #d8dbe2;
}

.container-index #join .mdc-text-field__input {
  text-align: center;
}

.container-index #join .mdc-text-field {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  grid-column: 2;
}

.container-index #join button {
  -ms-grid-row: 2;
  grid-row: 2;
  margin: 0 0 0 5px;
  padding: 5;
  -ms-grid-column: 3;
  grid-column: 3;
}

.container-index #join p {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 0;
  color: red;
}

.container-index #create {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: footer;
  -ms-grid-column-align: center;
      justify-self: center;
  background: #a9bcd0;
  text-align: center;
  color: #324454;
  padding: 20px;
  margin: 1em auto;
  width: 155px;
  border-radius: 15px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  justify-self: center;
}

.loader {
  color: #ffffff;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

.container-lobby {
  height: 100%;
  width: 100%;
  color: #d8dbe2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 15% 15% 20% 50%;
      grid-template-rows: 15% 15% 20% 50%;
      grid-template-areas: "head" "pin" "settings" "players";
}

.container-lobby .loader {
  -ms-grid-row: head;
      grid-row-start: head;
  grid-row-end: players;
  -ms-grid-column-align: center;
      justify-self: center;
}

.container-lobby #master-missing {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: settings;
  -ms-grid-column-align: center;
      justify-self: center;
  background: #a9bcd0;
  text-align: center;
  color: #324454;
  padding: 20px;
  margin: 1em auto;
  width: 155px;
  border-radius: 15px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.container-lobby #header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: head;
  text-align: center;
  margin: 30px 1em 0 1em;
  -ms-grid-column-align: center;
      justify-self: center;
}

.container-lobby #pin {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: pin;
  text-align: center;
  margin: 0 1em;
  -ms-grid-column-align: center;
      justify-self: center;
}

.container-lobby #settings-master {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: settings;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 70% auto;
      grid-template-rows: 70% auto;
  -ms-grid-column-align: center;
      justify-self: center;
  background: #a9bcd0;
  text-align: center;
  width: 200px;
  color: black;
  padding: 15px;
  margin: 0 0;
  border-radius: 15px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.container-lobby #settings-master .card-count-field {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
}

.container-lobby #settings-master .card-count-field h5 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  margin: 0;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container-lobby #settings-master .card-count-field h4 {
  -ms-grid-row: 2;
  grid-row: 2;
  margin: 5px 0 0 0;
  place-self: center;
}

.container-lobby #settings-master .card-count-field button {
  -ms-grid-row: 2;
  grid-row: 2;
  font-size: 25px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.container-lobby #settings-master .card-count-field button #down {
  -ms-grid-column: 1;
  grid-column: 1;
}

.container-lobby #settings-master .card-count-field button #up {
  -ms-grid-column: 3;
  grid-column: 3;
}

.container-lobby #settings-master h5 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
  margin: 5px 0 0 0;
  -ms-grid-column-align: center;
      justify-self: center;
}

.container-lobby #settings-master p {
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 13px;
}

.container-lobby #settings-master button {
  justify-items: center;
}

.container-lobby #settings-player {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: settings;
  -ms-grid-column-align: start;
      justify-self: start;
  background: #a9bcd0;
  text-align: center;
  color: black;
  padding: 20px;
  width: 200px;
  margin: 1em auto;
  border-radius: 15px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.container-lobby #settings-player h4 {
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 0;
}

.container-lobby #player-list {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: players;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.container-lobby #player-list hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
  border-color: #273441;
  border-width: 2px;
}

.container-lobby #player-list h4 {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

.container-lobby #player-list ul {
  margin-left: 1em;
}

.container-lobby #player-list li {
  background: #a9bcd0;
  margin-top: 5px;
  margin-right: 1em;
  padding: 20px;
  border-radius: 15px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.container-lobby #player-list li h6 {
  margin-bottom: 0;
  margin-left: 8px;
}

.container-game {
  width: 100%;
  height: 100%;
  padding: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-game h1 {
  place-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  color: #d8dbe2;
}

.container-game .container-questions {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20% 60% 20%;
      grid-template-rows: 20% 60% 20%;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
      grid-template-areas: "header" "card" "next";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.container-game .container-questions h3 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  text-align: center;
  background: #a9bcd0;
  color: black;
  padding: 15px;
  width: 100%;
  max-width: 300px;
  margin: 0 0;
  border-radius: 15px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.container-game .container-questions #question {
  margin: 0 1em;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: card;
  background: #a9bcd0;
  max-width: 300px;
  width: 100%;
  color: black;
  padding: 15px;
  margin: 0 0;
  border-radius: 15px;
}

.container-game .container-questions #question textarea {
  overflow: auto;
  margin-top: 20px;
  padding: 5px;
  min-height: 120px;
}

.container-game .container-questions .mdc-button {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: next;
  background: #a9bcd0;
  height: 60px;
  color: black;
  padding: 20px;
  max-width: 300px;
  margin: 0 0;
  width: 100%;
  border-radius: 15px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.container-game .container-answers {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10% 30% 40% 20%;
      grid-template-rows: 10% 30% 40% 20%;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
      grid-template-areas: "header" "question" "answer" "next";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.container-game .container-answers h3 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  text-align: center;
  background: #a9bcd0;
  color: black;
  padding: 15px;
  width: 100%;
  max-width: 300px;
  margin: 0 0;
  border-radius: 15px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.container-game .container-answers #question {
  margin: 0 1em;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: question;
  background: #a9bcd0;
  max-width: 300px;
  text-align: center;
  width: 100%;
  color: black;
  padding: 15px;
  margin: 0 0;
  border-radius: 15px;
}

.container-game .container-answers #question p {
  margin: 0;
}

.container-game .container-answers #answer {
  margin: 0 1em;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: answer;
  background: #a9bcd0;
  max-width: 300px;
  width: 100%;
  color: black;
  padding: 15px;
  margin: 0 0;
  border-radius: 15px;
}

.container-game .container-answers #answer textarea {
  overflow: auto;
  margin-top: 20px;
  padding: 5px;
  min-height: 120px;
}

.container-game .container-answers .mdc-button {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: next;
  background: #a9bcd0;
  height: 60px;
  color: black;
  padding: 20px;
  max-width: 300px;
  margin: 0 0;
  width: 100%;
  border-radius: 15px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
/*# sourceMappingURL=main.css.map */