@inherits BlazorLayoutComponent

<div class="container-fluid cover-container text-center d-flex flex-column">
    <div class="row bg-light align-items-center justify-content-center flex-fill">
        <div class="col-12">
            <main>
                @Body
            </main>
        </div>
    </div>
</div>