@inherits BlazorLayoutComponent

<div class="container-fluid cover-container text-center d-flex flex-column">
    <div class="row align-items-center justify-content-center flex-fill">
        @Body
    </div>
</div>